<!DOCTYPE HTML>
<html>
	<head>
		<title>HaymakerBets.com</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Banner -->
			<section id="banner">
				<h2>Haymaker Bets</h2>
				<p>Sport Picks & Fantasy Lineups <br /> By Professional Sport Anaylyst & Software.</p>
				<br /><br /><br />
			</section>