<!DOCTYPE HTML>
<html>
	<head>
		<title>HaymakerBets.com</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Sport Picks Of The Day!</h2>
						<p>Current POTD Record: 1-0-0  (W/L/D)</p>
					</header>

					<a href="#" class="image fit"><img src="assets/soccer.jpg" alt="" /></a>
					
					<h2>Sport Pick 1</h2>

					<p>Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.  Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.</p>



					<h2>Sport Pick 2</h2>

					<p>Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.  Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.</p>


	
					<h2>Sport Pick 3</h2>

					<p>Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.  Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here. Do a sport pick analysis right here.</p>

				</div>
			</section>


							
					
	<h4>Left &amp; Right</h4>
	<p><span class="image left"><img src="images/pic04.jpg" /></span>Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup Software Model is da best yup software model is da best haha yup</p>

	</section>			

								



		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; HaymakerBets.com</li>
						<li>copyright2016@haymakerbets.com<a href="http://templated.co"></a></li>
						<li>Contact us: <a href="http://unsplash.com">HaymakerBets@gmail.com</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>