<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>HaymakerBets.com</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Banner -->
			<section id="banner">
				<h2>Haymaker Bets</h2>
				<p>Sport Picks & Fantasy Lineups <br /> By Professional Sport Anaylyst & Software.</p>
				<ul class="actions">
					<li><a href="#" class="button special big">SIGN UP</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Picks Everyday!</h2>
									<p>Multiple Sports!</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Whether you're wondering whose going to win the footbal game today, or trying to decide how if you're MLB team will make it to the World Series, this is the place for you!</p>
								<p>We share our favorite picks of the day, and even share our daily fantasty lineups on DraftKings and FanDuel!</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Title GOES RIGHT HERE</h2>
							<p>SUB TITLE RIGHT BELOW HERE</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="assets/lebron.jpg" />
									<h3>Click Here For Pick of The Day!</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="assets/overeem.jpg" alt="" />
									<h3>Click Here For Today's Fantasty Lineup!</h3>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>HAYMAKER LOGO HERE</h2>
							<p>Make sure to follow our social media!</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="assets/twitter1.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Twitter</h4>
										<p>Follow us!</p>
									</header>
									<p>Paragraph about it Paragraph about it Paragraph about it Paragraph about it Paragraph about it</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="assets/facebook1.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Facebook</h4>
										<p>"Like" Our Page!</p>
									</header>
									<p>Paragraph about it Paragraph about it Paragraph about it Paragraph about it Paragraph about it</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="assets/youtube1.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>YouTube</h4>
										<p>Subscribe!</p>
									</header>
									<p>Paragraph about it Paragraph about it Paragraph about it Paragraph about it Paragraph about it</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="assets/instagram1.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Instagram</h4>
										<p>Follow us!</p>
									</header>
									<p>Paragraph about it Paragraph about it Paragraph about it Paragraph about it Paragraph about it</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Aenean elementum ligula</h2>
							<p>SOMETHING END HERE</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; HaymakerBets.com</li>
						<li>copyright2016@haymakerbets.com<a href="http://templated.co"></a></li>
						<li>Contact us: <a href="http://unsplash.com">HaymakerBets@gmail.com</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>