<h1>Hi</h1>



		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">HaymakerBets</a></strong>.com</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html.erb">Home</a></li>
						<li><a href="sportpicks.html.erb">Sport Picks</a></li>
						<li><a href="elements.html">Fantasty Lineups</a></li>
					</ul>
				</nav>
			</header>